.container { margin: 20px; }

.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

mat-card {
    width: 50%;
}

mat-card-content {
    margin: 0 16px;
}

mat-card-actions {
    float: right;
}

mat-form-field {
    width: 100%;
}
