nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #3f51b5;
    color: #fff;
    padding: 10px 16px;
}

.flex-spacer {
    flex-grow: 1;
}

mat-icon {
    margin-right: 5px;
    margin-bottom: 5px;
}