<header class="docs-header-background" aria-label="Get started" id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Heart Assistant</h1>
      <h2>Ваш помошник в прогнозировании заболевания</h2>
    </div>
    <div class="docs-header-start">
      <ha-code-dialog></ha-code-dialog>
    </div>
  </div>
</header>

<main class="docs-homepage-promo">
  <div class="docs-homepage-row docs-introduction">
    <div class="docs-homepage-row-column">
      <h2>Обученные модели</h2>
      <p>
        машинного обучения для каждого типа заболевания.
      </p>
    </div>
    <div class="docs-homepage-row-column">
      <h2>Автоматизированная оценка</h2>
      <p>
        не традиционных (неконвенционных) факторов риска.
      </p>
    </div>
    <div class="docs-homepage-row-column">
      <h2>Веб-приложение</h2>
      <p>
        для автоматического расчёта вероятности риска патологий.
      </p>
    </div>
  </div>
</main>